<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.leecue.dao.RoleMapper">
    <sql id="roleAllCols">
        id, name
    </sql>

    <select id="findRoleById" resultType="xyz.leecue.model.Role">
        SELECT <include refid="roleAllCols"/>
        FROM role
        WHERE id = #{id}
    </select>

</mapper>